@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;700&display=swap');

body{
    margin:0px;
    background: black;
}


.container{
    margin: 150px auto;
    width: 550px;
    height: 550px;
    background: #FBF7EE;
        
}

p {
    text-align: center;
    font-size:14px;
    font-weight: bold;
  }

.hero{
    height: 83px;
    background-image: linear-gradient(
        100deg,
        hsl(217deg 84% 55%) 0%,
        hsl(237deg 71% 66%) 13%,
        hsl(259deg 63% 63%) 25%,
        hsl(279deg 55% 59%) 37%,
        hsl(297deg 47% 55%) 50%,
        hsl(313deg 58% 56%) 63%,
        hsl(324deg 69% 58%) 75%,
        hsl(332deg 77% 59%) 87%,
        hsl(340deg 82% 61%) 100%
      );;
    padding-bottom: 100px;
    text-align: center;
    color: white;
   
}


.hero p{
    margin: 0 50.6px 30px 51px;
    padding-top: 30px;
    font-size: 20px;
    font-weight: bold;
    color: white;
    
}

#userValue{
    margin-top:0;
    font-size: 60px;
    padding-bottom: 53.77px;
    font-weight: bold;
}

.title{
    margin: 27px 10px;
    text-align: center;
}

.title p {
    margin-top: 50px;
}